<html>
  <head>
    <title>Guessing Game</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/style.js"></script>
  </head>
  <body>
    <div id='top'>
      Your Gold: <p id='info'>{{session['gold']}}</p>
    </div>
    <div>
      <form action="/process_money" method="post">
        <h3>Farm</h3><p>(earns 10-20 golds)</p>
        <input type="hidden" name="building" value="Farm" />
        <input type="submit" value="Find Gold!"/>
      </form>
      <form action="/process_money" method="post">
        <h3>Cave</h3><p>(earns 5-10 golds)</p>
        <input type="hidden" name="building" value="Cave" />
        <input type="submit" value="Find Gold!"/>
      </form>
      <form action="/process_money" method="post">
        <h3>House</h3><p>(earns 2-5 golds)</p>        
        <input type="hidden" name="building" value="House" />
        <input type="submit" value="Find Gold!"/>
      </form>
      <form action="/process_money" method="post">
        <h3>Casino</h3><p>(earns/takes 0-50 golds)</p>        
        <input type="hidden" name="building" value="Casino" />
        <input type="submit" value="Find Gold!"/>
      </form>
    </div>
    <textarea id='area' rows="6" cols="101">{{session['history']}}</textarea>
  </body>
</html>
