<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8" />
  <title>Dojo Survey Index</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- <script rel='stylesheet' src="ninja.css"></script> -->
  <script src="/static/registration.js"></script>
</head>
<body>
  <form actoin='/' method='post'>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          {{message}}
        {% endfor %}
      {% endif %}
    {% endwith %}
    <p>Your Name:<input type='text' name='nameEntered'></p>
    <p>Dojo Location:<input list='location' name='locationPicked'></p>
    <datalist id='location'>
      <option value="Dallas">
      <option value="San Jose">    
    </datalist>
    <p>Favorite Language:<input list='language' name='languagePicked'></p>
    <datalist id='language'>
        <option value="Python">
        <option value="JavaScrpt">    
      </datalist>
      <p>Comment (optional)<textarea cols='47' name='commentEntered'></textarea></p>
    <button type='submit' value='submit'>Submit</button>
  </form> 
</body>
</html>
