<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8" />
  <title>Hello Flask</title>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  <!-- <script src="D:\jquery\jquery-3.3.1.min.js"></script>
  <script src="D:\Dropbox\flask\hello_flask\static\js\index.js"></script> -->
</head>
<body>
  <h1>My projects</h1>
  <ul>
    <li>Danger zone</li>
    <li>Fat Unicorn: The Poopening</li>
    <li>My cohort</li>
    <li>Certify me</li>
    <li>Woof Woof Go</li>
  </ul>

</body>
</html>